body {
    font-family: 'Recursive', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    margin: 20px;
}

#nuevoForo {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

form {
    display: grid;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}

#foros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.foro {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    flex: 0 1 300px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    font-family: 'Bebas Neue', cursive;
}

/* Agrega estilos para el anuncio borroso */
.anuncio-borroso {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}

.anuncio-borroso p {
    margin: 0;
    font-size: 16px;
    color: #333;
}
